.questionHead{
    margin-top:2rem
}
.container{
    background-color:#000000bd;
    color: white;
    margin-top:7rem
}
body{
    background-image: url('https://media.giphy.com/media/3o7TKJoSDgvrTXcHQc/giphy.gif')

}
#timebox{
    margin-top: 3rem
}